.first-class {
  padding-top: 0px;
  padding-bottom: 15px;
  font-size: 5rem;
  font-weight: 900;
  color: var(--orange);
  margin: 0;
}
.second-class {
  padding-bottom: 5px;
  color: white;
  font-weight: 10;
  color: var(--medblue);
  align-items: left;
}
.guidelines {
  height: 100vh;
  flex-direction: column;
}
.guidelines div {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 10px;
}
.guidelines img {
  width: 100px;
}
