.landing-page {
  background: linear-gradient(180deg, #86bbd8 0%, #33658a 50%, #2f4858 100%);
  height: 100vh;
  width: 100vw;
}
.landing-logo {
  max-width: 450px;
  height: auto;
  align-self: center;
}
.landing-text {
  text-align: left;
}
.landing-text h1,
.landing-text p {
  margin: 0;
  color: white;
}
.landing-text p {
  font-size: 1.75rem;
}
.landing-text h1 {
  font-size: 3rem;
  font-weight: 900;
}
.landing-launch {
  margin: 20px 0;
  background-color: var(--orange);
  border: none;
  outline: none;
  padding: 10px 15px;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 550;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 5px;
}

.landing-launch2 {
  margin: 20px 0;
  background-color: var(--orange);
  border: none;
  outline: none;
  padding: 10px 15px;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 550;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
}

.landing-launch:active {
  filter: none;
  transform: translate(1px, 1px);
}
