.success {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15%;
}
.success h1 {
  font-size: 10rem;
  margin: 0;
  color: var(--orange);
}
.success p {
  font-size: 2rem;
  margin: 0;
}
