.symptoms-page {
    background: linear-gradient(180deg, #86bbd8 0%, #33658a 50%, #2f4858 100%);
    height: 100vh;
    display: inline-flexbox;
    justify-content: left;
    align-items: left;
    width: 100vw;
  }

.checkbox-grid{
    columns: 4 auto;
}

.almost-title h1{
    font-size: 100;
}
.symptom p{
    margin: 0;
    color: white;
}