.symptoms-page {
  margin: 0;
  padding-top: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: left;
}

.checkbox-grid {
  columns: 2 auto;
}

.almost-title {
  font-size: 7rem;
  margin: 0;
}
.first-header,
.second-header {
  font-size: 4rem;
  margin: 0;
  color: var(--yellow);
}
.third-header {
  font-size: 3rem;
  margin: 0;
  margin-top: 25px;
}
.symptom {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  grid-gap: 10px;
  padding: 5px;
}
.symptom input {
  transform: scale(1.5);
}

.checkbox input[type="checkbox"]:checked ~ label::before {
    color: #7bbe72;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.symptom p {
  margin: 0;
  color: var(--medblue);
}
