.grid {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--lightblue);
}

.logo {
  margin: 25px 10px;
  float: left;
  background-color: var(--lightblue);
}

.slogan {
  float: right;
}

.header {
  padding-bottom: -15rem;
  position: absolute;
  top: 0;
  width: 100vw;
}
